<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
</head>
<body>
    <ul class="product_list">
        <li>CyberPunk <button>Купить</button></li>
        <li>Minecraft <button>Купить</button></li>
        <li>Postal 2 <button>Купить</button></li>
    </ul>
    <button onclick="javascript:window.location.href='http://127.0.0.1:8000/platform'">Вернуться назад</button>
</body>
</html>